{{ define "content" }}
<h2>{{ .ChatName }}/{{ .ChatOwner }}</h2>

<div id="memLog">
    <div>
        <b>MEMBER</b>
    </div>
</div>
<div id="msgLog">
    <div>
        <b>MESSAGE</b>
    </div>
</div>

<form id="form">
    <input type="text" id="msg" size="64" autofocus>
    <input type="submit" value="Send">
</form>

<script type="text/javascript">
window.onload = function () {
    var conn;
    var msg = document.getElementById("msg");
    var msgLog = document.getElementById("msgLog");
    var memLog = document.getElementById("memLog");
    
    function appendLog(elem, item) {
        var doScroll = elem.scrollTop > elem.scrollHeight - elem.clientHeight - 1;
        elem.appendChild(item);
        if (doScroll) {
            elem.scrollTop = elem.scrollHeight - elem.clientHeight;
        }
    }

    function showLog(elem, str) {
        var item = document.createElement("div");
        item.id = str;
        item.innerText = str;
        appendLog(elem, item);
    }
    
    document.getElementById("form").onsubmit = function () {
        if (!conn) {
            return false;
        }
        if (!msg.value) {
            return false;
        }
        conn.send({{ .UserName }} + ": " + msg.value);
        msg.value = "";
        return false;
    };
    
    if (window["WebSocket"]) {
        conn = new WebSocket("ws://" + document.location.host + "/ws/?chatId={{ .ChatId }}&userName={{ .UserName }}");
        conn.onclose = function (evt) {
            var item = document.createElement("div");
            item.innerHTML = "<b>Connection closed.</b>";
            appendLog(msgLog, item);
        };
        conn.onmessage = function (evt) {
            var messages = evt.data.split('\n');
            for (var i = 0; i < messages.length; i++) {
                var recv = JSON.parse(messages[i]);
                if (recv.IsText) {
                    showLog(msgLog, recv.Data);
                } else if (recv.IsRegister) {
                    showLog(memLog, recv.Data);
                } else if (recv.IsUnregister) {
                    var target = document.getElementById(recv.Data);
                    if (target != null) {
                        memLog.removeChild(target);
                    }
                } else {
                    showLog(msgLog, "received unknown message: "+recv.Data);
                }
            }
        };

    } else {
        var item = document.createElement("div");
        item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
        appendLog(msgLog, item);
    }
};
</script>

<style type="text/css">
  
    #msgLog {
        background: grey;
        overflow: auto;
    }

    #memLog {
        background: lightblue;
        overflow: auto;
    }

</style>
{{ end}}